/* Nav style */

body{
    background-color:  #F5F8FF;
    max-width: 1440px;
    margin: 0 auto;
    font-family: sans-serif;
}

.background-img{
    background-image: url(./Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    margin: 0 auto;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;

}

.nav-title{
   font-weight: 99px;
   font-size: 51px;
   cursor: pointer;
    
}
.text-sytle{
    color: tomato;

}
.button-style{
    background-color: tomato;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 1px 1px rgba(158, 147, 147, 0.432);
    transition: .5s ease;
    cursor: pointer;
}
.button-style:hover{
    background-color: #03632093;
}

.banner{
  text-align: center;          
  margin-top: 100px;                   
  padding: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;   
  font-size: 20px;  
  font-weight: 905px;    

  
  
}
.banner-button{
    margin-top: 37px;
   background-color: tomato;
   border: none;
   width: 174px;
   height: 48px;
   font-size: 20px;
   font-weight: bold;
   border-radius: 13px;
   box-shadow: 0 0 1px 1px rgba(158, 147, 147, 0.432);
    transition: .5s ease;
    cursor: pointer;

    
}
.banner-button:hover{
    background-color: #03632093;
}
.product-event{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
}

.iphone{
    width: 403px;
    height: 328px;
    border-radius: 60px;
}
.product-event-title h3{
    font-size: 49px;
    font-weight: 517px;
}

.product-event-title p{
    font-size: 24px;
    font-weight: 517;
    color: rgba(0, 0, 0, 0.534);
}

.order-now{
     background-color: tomato;
     width: 229px;
     height: 55px;
     font-size: larger;
     font-weight: bolder;
     border: none;
     border-radius: 15px;
     margin-top: 23px ;
     box-shadow: 0 0 1px 1px rgba(158, 147, 147, 0.432);
    transition: .5s ease;
    cursor: pointer;
}
.order-now:hover{
    background-color: #03632093;
}
.active-buyer{
    background-color:antiquewhite;
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}


.active-buyer-title{  
    padding: 50px 142px 50px 142px;
}


.active-buyer-user{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
   
}
.active-buyer-user h1{
    color: tomato;
    font-size: 97px ;
    font-weight: 150px;
     margin-top:0px;
    
}
.active-buyer-user p{
    font-size: 24px;
    font-weight: 120px;
    margin-top: -85px;
    color: rgba(0, 0, 0, 0.37);
}

.customer-feedback{
    width: 1140px;
    height: 342px;
    
}


.rater-info h6{  
    color: rgba(0, 0, 0, 0.623);
margin: 0 auto;
margin-left: 10px;
margin-top: 10px ;

}
.rater-info span{
    color: rgba(0, 0, 0, 0.267);
}

.customer-feedback-title{
    text-align: center;
    margin-top: 137px;
}
.customer-feedback{
    background-color: ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}

.feedback-container{
    background-color:  rgba(250, 235, 215, 0.486);
    margin-top: 50px;
    width: 300.67px;
    height: 243px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.24);
}
.feedback-container h6{
    margin:-38px 47px;
    font-size:15px;
    color: rgba(0, 0, 0, 0.664);
}
.feedback-container span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.425);
}
.customer-pic{
    border-radius: 40px;
}
.second-banner{
    background-color: rgba(250, 235, 215, 0.486);
    width: 1140px;
    height: 696.77px;
    margin: 0 auto;
    margin-top: 137px;
    text-align: center;
    padding-top: 71px;
    border-radius: 20px;
    
}
.second-banner-title{
    margin: -55px;
}
.second-banner-title h1{
    font-size: 60px;
    font-weight: 516px;
}
.second-banner-title p{
    font-size: 22px;
    margin-top: -23px;
    color: rgba(0, 0, 0, 0.473);
}
.second-banner-title button{
    background-color: tomato;
    width: 195px;
    height: 48px;
    font-size: larger;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px rgba(158, 147, 147, 0.432);
    
}
.second-banner-title button:hover{
    background-color:#03632093 ;
}


.second-banner-picture{
    margin:120px ;
    width: 840px;
    height: 364.77px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.24);
}



.contact-section {
      width: 1140px;
      height: 632px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
     
      
    }

    .contact-left {
      font-size: 97px;
      font-weight: bold;
      color: #000;
    }

    .contact-right {
      width: 497px;
      height: 490;
      border-radius: 10px;
      
    }
    
    .contact-right form {
      display: flex;
      flex-direction: column;

    }
    .contact-right form input{
        border-radius: 15px;
    }
    .contact-right form textarea{
        border-radius: 15px;
    }


    .contact-right input,
    .contact-right textarea {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    .contact-right textarea {
      resize: vertical;
      height: 120px;
    }

    .contact-right button {
        font-weight: bold;
      background-color: tomato;
      color: #fff;
      padding: 15px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition:  0.3s ease;
    }

    .contact-right button:hover {
      background-color:#03632093;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .footer-style{
        padding: 104px ;
        margin:0 auto;
        background-color: rgba(250, 235, 215, 0.486) ;
        text-align: center;       
    }
    .fotter-logo{

        font-size: 100px;
        font-weight: bolder;
    }
    .footer-style p {
        font-size:20px ;
        margin-top: -60px;
        color: #00000088;
    }
    .fotter-logo span{
        color: tomato;

    }

    .Contact-info{
        
        display: flex;
        justify-content: center;
        list-style: none;
        
        
    }
    .Contact-info li{
         margin: 48px;
         
    }
    .Contact-info a{
    
        text-decoration: none;
        color: #00000088;

    }
    